version: '3'

services:
  postgres:
    image: postgres:13
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: echo9et/kittygram_backend:latest
    container_name: backend
    env_file:
      - .env
    restart: always
    volumes:
      - static:/app/collected_static/
      - media:/app/media/
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    image: echo9et/kittygram_frontend:latest
    container_name: frontend
    volumes:
      - static:/app/build

  gateway:
    image: echo9et/kittygram_gateway:latest
    container_name: gateway
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - static:/var/html/static
      - media:/var/html/media


volumes:
  static:
    name: static
  media:
    name: media
  pg_data:
    name: pg_data